*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    background-color: lightskyblue;
}
.grid{
    display:grid;
    grid-template-columns: repeat(4 25%);
    grid-template-rows: repeat(4 25%);
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav" 
    "content1 content2 content3 content4"
    "footer footer footer footer";

}
header{
    grid-area: header;
    text-align: center;
    font-family: Arial;
    background-color: aqua;
    display: flex;
    justify-content: center;
}


nav{
    grid-area: nav;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: stretch;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-decoration: solid;
    text-decoration: black;
    background-color: aqua;
    
}
.menu{
    grid-area: nav;
    text-align:center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 155px;
    margin-bottom: 5px;
}
main{
    background-color: aqua;
    justify-content: center;
    margin: 25px 35px 25px 50px ;

}
.section{
    margin: 0 0 0 20px;
    justify-content: center;
    margin-left: 5px;
}
.aside{
    background-color: aqua;

}
.img{
    width: 75%;
    grid-area: content;
    align-content: center;
    justify-content: center;
    background-color: aqua;
}
.imgCalendario{
    margin: 15px 15px 15px 15px;
    width: 100%;
    height: 800px;
}
.calendario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
iframe{
    width: 800px;
}
footer{
    grid-area: footer;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
    margin-top: 5px;
}
.fieldset{
    display: flex;
    background-color: aqua;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}
.ticket{
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 380px) {
    
    main{
        width: 380px;
        padding: 5px 5px 5px 5px;
        margin: 15px 15px 15px 15px;
        justify-content: center;
    }
    aside{
        width: 50%;
        justify-content: center;
        align-items: center;
    }
    .content img{
        width: 380px;
    }
    iframe{
        width: 380px;
    }
    .imgCalendario{
        width: 100%;
    }
    .container{
        display: flexbox;
        flex-direction: column;
        justify-content: center;
        width: 380px;
    }
    .img{
        width: 25%;
    }
}
